.saved-city {
  background-color: gainsboro;
  color: gray;
}

.small {
  height: 30px;
}

#icon1 {
  height: 100%;
}

#icon2 {
  height: 100%;
}

#icon3 {
  height: 100%;
}

#icon4 {
  height: 100%;
}

#icon5 {
  height: 100%;
}
