.saved-city {
  background-color: gainsboro;
  color: gray;
}

/* color classes for styling UVI background */
.green {
  color: white;
  background-color: green;
}

.yellow {
  color: black;
  background-color: yellow;
}

.orange {
  color: black;
  background-color: orange;
}

.red {
  color: white;
  background-color: red;
}

.violet {
  color: white;
  background-color: purple;
}

/* .small & #icon selectors style weather icons in 5 day forecast cards */
.small {
  height: 30px;
}

#icon1 {
  height: 100%;
}

#icon2 {
  height: 100%;
}

#icon3 {
  height: 100%;
}

#icon4 {
  height: 100%;
}

#icon5 {
  height: 100%;
}
